#login, #loggedin {
    display: none;
    }
    .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
    }
    #oauth, #obtain-new-token {
    display: none;
    }